<nav class="top-menu">
  <ul class="top-menu__list">
    <li class="top-menu__list__item"><a routerLink="/home"><i class="fas fa-home"></i>Home</a></li>
    <li class="top-menu__list__item"><a routerLink="/users"><i class="fas fa-users"></i>Users</a></li>
    <li class="top-menu__list__item"><a routerLink="/albums"><i class="fas fa-images"></i>Albums</a></li>
    <li class="top-menu__list__item"><a routerLink="/photos"><i class="fas fa-camera"></i>Photos</a></li>
    <li class="top-menu__list__item"><a routerLink="/about"><i class="fas fa-info-circle"></i>About</a></li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <span class="footer__rights">All rights reserved &copy;</span>
</div>
